/* CSS imports */
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

/*body*/
body{
    font-family: 'Helvetica', 'Arial', sans-serif;
    margin: 0 auto;
    max-width: 1000px;
    
    
}

/*Heading*/
h1, h2{
    font-family: lora, sans-serif;
}

/*Header*/
div header{
    text-align: right;
}

header{
    background-color:#6495ED ;
    padding:1.5rem;   
}

header li{
   list-style-type: none;
   padding-bottom:1rem;

}

header a, header a:visited{
    text-decoration: none;
    color: #FAEBD7;
}

header a:active{
    color:#DEB887;
}

header a:hover{
    color:white;
    text-decoration: underline;
}

/*Main*/
main{
    background-color:#FAEBD7 ;
    padding:.5rem;
    
}

/* date */
div .post-date{
    color:gray;
}

/* content */
section .post-content{
    padding:1rem;
}

/* Article */

article{
    background-color: white;
    padding:2rem;
    margin:1.5rem;
    margin-left: .5rem;
    margin-right:.5rem;
    box-shadow: 3px 4px 7px grey;
}

/* Article links */

article h2 a, article h2 a:visited{
    color:black;
    text-decoration: none;
}
 
article h2 a:active{
    color:#DEB887;
}

article h2 a:hover{
    color:#6495ED;
    text-decoration: underline;
}

/* Other Page links */

article p a, article p a:visited{
    color:#6495ED;
    text-decoration: none;
}

article p a:active{
    color:#DEB887;
}

article p a:hover{
    text-decoration: underline;
}

/* Images */
figure{
    max-width: 100%;
}

img{
    width:100%;
}

/* Medium View */
@media only screen and (min-width:32em){
    img{
        width:auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        
    }
}



/* Large View */
@media only screen and (min-width: 60em) {
    /* body */
    div{
        display:grid;
        grid-template-columns: 240px 1fr;
    }

    /* Image */
    img{
        
        
    }

    /* Article */
    article{
        margin: 5rem;
    }

}
